/* CSS Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General */
body{
  font-family: sans-serif;
  color: #fff;
  background-color: #000;

}

.container{
  width: 1800px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: white;
}

img{
  max-height: 100%;
}

/*! Header */
header{
  height: 50px;
  text-align: right;
  padding-top: 10px;
}

.header-content a{
  background-color: #4A4A4A;
  font-size: 0.9rem;
  padding: 5px;
  border-radius: 5px;
  margin: 0 5px;
}

/*! Main */
main{
  height: calc(100vh - 150px);
  color: white;
  overflow: auto;
  
  padding: 20px 0;
}

.row{
  display: flex;
  flex-wrap: wrap;
  gap: 20px 5px;
  justify-content: center;
}

/* * Card */
.card{
  height: 150px;
  flex-basis: calc(100% / 9);
  position: relative;
}

.card .card-content{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.card-hover a{
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  padding: 5px;
  display: none;
  position: absolute;
  top: 10px;
  right: 0;
}

.card:hover .card-hover a{
  display: inline-block;
}
/*! Footer */
footer{
  background-color: #222222;
  height: 100px;
}